@import 'variables.scss';
@import 'fonts.scss';

.headroom {
    
    margin-left: 150px;
    background-color: $off-white;
    
    .row {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly; /* for centering 3 blocks in the center */
    }

    a {
        // font stuff
        font-family: 'Montserrat';
        font-size: large;
        color: black;

        // remove underlines
        text-decoration: none;

        /* vertically center links */
        position: relative;
        top: 20%;
    }
    /* mouse over link */
    a:hover {
        color: $dark-blue;
    }
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
    height: 35px;
}
.headroom--scrolled {
    position: relative;
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    height: 35px;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}