@import 'variables.scss';

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 5px;
    padding-top: 40px;
    background-color: $off-white;
}

.sidebar img {
    border-radius: 150px;
    margin-left: 12px;
    width: 125px;
    border: 2px solid #418DA7;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar ol {
    list-style-type:none;
}

.sidebar div.myName {
    font-family: 'Montserrat';
    margin-left: 40px;
    font-size: larger;
    font-weight: 600;
}

.sidebar li {
    font-family: 'Montserrat';
    &:not(:last-child) { 
        margin-bottom: 10px;  
    }
    &.grow {
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
    }
}
    